.main-header {
  @extend %centered;
  padding-top: 170px;
  height: 850px;
  background: linear-gradient($primary-color, transparent 90%),
              linear-gradient(0deg, $white, transparent),
              #ffa949 url('../img/mountains.jpg') no-repeat center;
  background-size: cover;
  color: $white;
}
