// Web fonts
@mixin font-face($font-family, $file) {
  @font-face {
    font-family: $font-family;
    src: url('#{$path-font}/#{$file}-webfont.eot');
      src: url('#{$path-font}/#{$file}-webfont.eot?#iefix') format('embedded-opentype'),
      url('#{$path-font}/#{$file}-webfont.woff') format('woff'),
      url('#{$path-font}/#{$file}-webfont.ttf') format('truetype');
  }
}

// Text
@mixin text($font-size, $line-height: null, $font-weight: null, $color: null) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
}

// Mediaqueries
@mixin mediaquery($break-point) {
  @if $break-point == "small" {
    @media (max-width: $small) {
      @content;
    }
  }
  @else if $break-point == "medium" {
    @media (max-width: $medium) {
      @content;
    }
  }
}
